@import "../../../../../../xlib/css/reset.css";
@import "../../../../../../xlib/css/base.css";
@import "../../../../../../xlib/css/widget.css";

@import "../../../../../../xcom/checkboxgroup/checkbox.css";
@import "../../../../../../xcom/inputfield/inputfield.css";
@import "../../../../../../xcom/textarea/textarea.css";
@import "../../../../../../xcom/uploader/uploader.css";
@import "../../../../../../xcom/logoupload/logoupload.css";
@import "../../../../../../xcom/imageviewer/imageviewer.css";

@import "warning.css";
@import "step1/form.css";
@import "step1/slider.css";
@import "step2/form.css";
@import "step3/inform.css";
@import "step3/builder.css";
@import "step3/sample.css";
@import "step3/popup.css";

html, body {
    font-family: "MicroSoft Yahei";
    font-size: 1em;
    background: #f0f3f4;
}

/* 主要内容 */
.framework-page .framework-center h1 {
    color: rgb(71, 71, 71);
    line-height: 300%;
    border-bottom: 1px solid #DFE2E3;
    text-indent: 20px;
}

.framework-page .framework-center .step {
    display: none;
    position: relative;
    width: 710px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}
.framework-page .framework-center .step-1 .ssg {
    text-align: center;
    line-height: 120px;
}
.framework-page .framework-center .step-3 {
    width: 1100px;
}
.framework-page .framework-center .step .banner {
    width: 710px;
    height: 40px;
    margin: 0 auto;
}
.framework-page .framework-center .step-1 .banner {
    background: url("../../img/join/step.png") no-repeat 0 0;
}
.framework-page .framework-center .step-2 .banner {
    background: url("../../img/join/step.png") no-repeat 0 -40px;
}
.framework-page .framework-center .step-3 .banner {
    background: url("../../img/join/step.png") no-repeat 0 -80px;
}

.framework-page .framework-center .step-3 .enter {
    position: absolute;
    right: 25px;
    bottom: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #68a7ff;
}