/*reset css begin*/
html, body {
    border: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    color: #222;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

header, section, article, div, p, span{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    vertical-align: middle;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*reset css end*/
