.o-imageviewer-wrapper {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	text-align: center;
}

.o-imageviewer-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.4;
}

.o-imageviewer-pic {
	position: absolute;
	left: 50%;
	top: 50%;
	max-height: 600px;
	max-width: 960px;
	z-index: 9;
}