.info-box {
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DFE2E3;
    padding: 15px 0 18px;
    margin-bottom: 18px;
}


.info-box-header {
    padding: 1px 0 15px 20px;
    border-bottom: 1px solid #F2F2F5;
    position: relative;
}

.box-row {
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 10px;
    line-height: 24px;
}
.box-row:last-child {
    margin-bottom: 0;
}

.box-left {
    width: 180px;
    text-align: right;
    float: left;
    margin-right: 10px;
}

.box-left-offset {
    margin-left: 190px;
}

.box-right {
    float: left;
    width: 600px;
}