/* 表单文本输入域 */
.o-inputfield {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
}

.o-inputfield .box {
    position: relative;
    width: 100%;
    height: 28px;
    background: #fff;
    border: solid 1px #dfe2e3;
    overflow: hidden;
}
.o-inputfield.error .box {
    border: solid 1px #ed5565;
}
.o-inputfield .box input {
    width: 80%;
    height: 28px;
    text-indent: 5px;

    color: #333;
    font-size: 12px;
    line-height: 28px;
}
.o-inputfield .box input+i {
    position: absolute;
    top: 0;
    right: 10px;
    width: 15%;
    height: 28px;

    color: #999;
    font-size: 10px;
    line-height: 30px;
    text-align: right;
}
/*.o-inputfield .box em {
    color: #ed5565;
    font-style: normal;
}*/

.o-inputfield .error {
    display: none;
    height: 24px;
    width: 100%;
    margin-top: 3px;

    text-align: left;
    color: #ed5565;
    font-size: 12px;
    line-height: 24px;

    z-index: 99;
}
.o-inputfield.error .error {
    display: block;
}
.o-inputfield .tip {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 3px;

    text-align: left;
    color: #999;
    font-size: 12px;
    line-height: 24px;
}

/*input placeholder的颜色*/
.o-inputfield input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.o-inputfield input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}
.o-inputfield input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}
.o-inputfield input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
