html, body, button, input {
    font-family: "MicroSoft Yahei";
    font-size: 16px;
    color: #333333;
    background: #f0f3f4;
}

textarea {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    visibility:hidden; 
    clear:both;
}

a  {
    color: #4497ff;
    font-weight: normal;
    text-decoration: none;
}

input, textarea{
    font-size: 12px;
    background: #fff;
    color: #333333;
    line-height: 28px;
    border: 1px solid #dfe2e3;
    border-radius: 2px;
    padding-left: 10px;
}

input[type=text].o-validator-item-invalid, 
input[type=password].o-validator-item-invalid, 
input[type=number].o-validator-item-invalid, 
input[type=tel].o-validator-item-invalid, 
input[type=email].o-validator-item-invalid,
input[type=date].o-validator-item-invalid,
textarea.o-validator-item-invalid{
    border: 1px solid #ed5565;
}
