.industry-list-scroll {
    float: left;
    height: 324px;
    width: 639px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.industry-list-scroll table tr td:nth-child(2n) {
    padding-right: 20px;
}

.industry-list-table {
    width: 639px;
    border: 1px solid #f6f8f9;
    text-align: center;
}

.industry-list-table.no-top-border, .industry-list-table.no-top-border tbody tr:first-child td {
    border-top-width: 0;
}

.industry-list-table th, .industry-list-table td {
    border: 1px solid #dfe2e3;
}

.industry-list-table th {
    background-color: #f5f8f9;
    font-size: 14px;
    line-height: 40px;
}

.industry-list-table td {
    color: #999999;
    font-size: 12px;
    line-height: 30px;
}

.industry-list-table tr:nth-child(2n) {
    background-color: #f5f8f9;
}

.industry-list-table tr:hover {
    background-color: #e7f2ff;
}