.page-title {
    font-size: 14px;
    padding: 20px 0 10px 0;
}

.page-warning {
    color: #999999;
    font-size: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #f9e4b9;
    border-radius: 2px;
    background-color: #fcefd4;
    width: 100%;
    height: 34px;
    line-height: 34px;
    vertical-align: middle; 
    text-align: center;
}

.page-warning.error {
    color: #ed5565;
    font-size: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #f7d0d4;
    border-radius: 2px;
    background-color: #fbf0f1;
    width: 100%;
    height: 34px;
    line-height: 34px;
    vertical-align: middle; 
    text-align: center;
}

.page-warning.error:before {
    display: inline-block;
}

.titled-section{
    position: relative;
    width: 100%;
    margin: 10px 0;
    border-width: 1px;
    border: 1px solid rgb(223, 226, 227);
    border-radius: 2px;
    background-color: #fff;
}

.titled-section.no-border {
    border: none;
}

.titled-section .section-content {
    padding: 19px 0;
}

.titled-section h2{
    text-indent: 19px;
    width: 100%;
    height:48px;
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border-bottom: 1px solid rgb(223, 226, 227);
}

.form-row {
    margin-bottom: 30px;
}

.form-row .form-label{
    float: left;
    margin-left: 20px;
    line-height: 30px;
    font-size: 14px;
    width: 117px;
    text-align: right;
    display: inline-block;
}

.form-row .form-label .required {
    color: #ed5565;
}

.form-row .form-control {
    float: left;
    width: 863px;
    display: inline-block;
}

.form-row .form-control a {
    font-size: 12px;
}

.form-row .form-control > button,
.form-row .form-control > input,
.form-row .form-control > img {
    vertical-align: bottom;
}

.form-controls {
    margin-left: 137px;
}

.form-controls button {
    float: left;
    margin-right: 20px;
}

.form-row-tip {
    line-height: 30px;
    display: inline;
    font-size: 12px;
    color: #ed5565;
}

.form-row-tip.invalid {
    color: #ed5565;
}

.form-row-tip.valid{
    color: #82c714;
}