/* common background props */

#bgi0 {
    background: url("../img/a.png");
}

#bgi1 {
    background: url("../img/a.png") no-repeat;
}

#bgi2 {
    background: url("../img/a.png") no-repeat 0 -10px;
}

#bgi3 {
    background: #fff url("../img/a.png");
}

#bgi4 {
    background: #fff url("../img/a.png") no-repeat;
}

#bgi5 {
    background: #fff url("../img/a.png") 0 -10px;
}

/* multi backgrounds props */
#bgi6 {
    background: url("../img/a.png"), url("../img/inner/b.png");
}