.step-3 .builder {
    position: relative;
    width: 708px;
    height: 130px;
    margin: 0 auto;
    border: 1px solid #e5e9ea;
    border-radius: 4px;
    background: #f0f3f4;

    text-align: center;
}
.step-3 .builder:after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    left: 346px; top: 122px;

    background: #f0f3f4;
    border: 1px solid #e5e9ea;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.step-3 .builder h3 {
    line-height: 80px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.step-3 .builder button {
    width: 125px;
    height: 34px;
    margin-right: 25px;
    background: #4497ff;
    border: none;
    outline: none;
    border-radius: 17px;

    font-family: "MicroSoft Yahei";
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.step-3 .builder a {
    line-height: 34px;
    font-size: 14px;
    color: #68a7ff;
    text-decoration: none;
    cursor: pointer;
}