@font-face {
    font-family: "my-style";
    src: url(../font/a.eof);
}

@font-face {
    font-family: "my-style";
    src: url(../font/b.eof);
}

@font-face {
    font-family: "my-style";
    src: url(../font/c.eof);
}

@font-face {
    font-family: "my-style";
    src: url(../font/d.eof);
}

@font-face {
    font-family: "my-style";
    src: url(../font/e.eof);
}