/* 功能button样式 */

/* 行高30px */
.btn-30 {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 28px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
}

/* 行高38px */
.btn-38 {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 36px;
    height: 38px;
    border-radius: 2px;
    cursor: pointer;
}

/* 行高24px */
.btn-24 {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    line-height: 22px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
}
.btn-white {
    font-size: 0.75em;
    color: #4497ff;
    border: 1px solid #dfe2e3;
    border-radius: 3px;
    background-color: #f6f8f9;
}
.btn-white:hover {
    background: #F3F5F6;
}
.btn-white:active {
    background: #EFF3F5;
}

/* 灰白主题 */
.btn-gray {
    background: #F7F8FA;
    color: #333333;
    border: 1px solid #DFE2E3;
}
.btn-gray:hover {
    background: #F3F5F6;
}
.btn-gray:active {
    background: #EFF3F5;
}

/* 蓝色主题 */
.btn-blue {
    background: #4497ff;
    color: #ffffff;
    border: 1px solid #4497ff;
}
.btn-blue:hover {
    background: #3F8EF1;
    border: 1px solid #3F8EF1;
}
.btn-blue:active {
    background: #3B88E8;
    border: 1px solid #3B88E8;
}

/* 绿色主题 */
.btn-green {
    background: #7CC123;
    color: white;
    border: solid 1px #7CC123;
}
.btn-green:hover {
    background: #77B823;
    border: solid 1px #77B823;
}
.btn-green:active {
    background: #6EAA1F;
    border: solid 1px #6EAA1F;
}

/* 不可点 */
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
    color: #ccc;
    background: #F6F8F9;
    border: solid 1px #DFE2E3;
    cursor: default;
}