/* common background props */

#test_div1 {
    background: url("../img/a.png");
}

#test_div2 {
    background: url("../img/a.png") no-repeat;
}

#test_div3 {
    background: url("../img/a.png") no-repeat 0 -10px;
}

#test_div4 {
    background: #fff url("../img/a.png");
}

#test_div5 {
    background: #fff url("../img/a.png") no-repeat;
}

#test_div6 {
    background: #fff url("../img/a.png") 0 -10px;
}


/* multi backgrounds props */
#test_div8 {
    background: url("../img/a.png"), url("../img/inner/b.png");
}