/* filter */

#test_div1 {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="assets/img/inner/b.png");
}

#test_div2 {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=assets/img/inner/b.png);
}

#test_div2 {
    background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader("src=assets/img/inner/b.png");
}

#test_div2 {
    background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=assets/img/inner/b.png);
}