/**
 * @fileoverview
 * @author Leo.Zhang(zmike86)
 */

.secondary {
    display: none;
    position: fixed;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

/* 浮层 */
.secondary .mask {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: .8;
    background-color: #000000;
}

/* 弹窗 */
.secondary .c {
    position: fixed;
    top: 9em;
    height: 13.5em;
    width: 83.3%;
    margin-left: 8.3%;
    border-radius: 10px;
    background-color: #ffffff;
}

/* 标题 */
.secondary .c h3 {
    margin-top: 0.5em;
    color: #333333;
    text-align: center;
    font-size: 1.6em;
    line-height: 2em;
}

/* 说明 */
.secondary p {
    width: 90%;
    height: 5em;
    margin-left: 5%;
    color: #333333;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: left;
}

/* 成功领取 */
.secondary a {
    display: block;
    margin-top: 0.3em;
    width: 86%;
    height: 3em;
    margin-left: 7%;
    line-height: 3em;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    background-color: #FF7B3A;
    border-radius: 6px;
    text-decoration: none;
}
