/**
 * 单选样式 默认行内块级元素，高度20px，字体大小12px
 */

.o-radio {
    position: relative;
    display: inline-block;
    color: rgb(71, 71, 71);
    font-size: 12px;
    height: 20px;
}

.o-radio input[type=radio] {
    display: none;
}

.o-radio label {
    position: relative;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 20px;
}
.o-radio label:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0; top: 0;
    background: rgb(255, 255, 255);
    border: solid 1px rgb(208, 210, 211);
    border-radius: 8px;
}
.o-radio label:after {
    display: none;
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 4px; top: 4px;
    background: rgb(68, 151, 255);
    border-radius: 4px;
}

.o-radio input:checked + label:after {
    display: block;
}