.o-dialog{
    position: absolute;
    background: #ffffff;
    border-radius: 3px;
}
.o-dialog-container {
    display:none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height:100px;
    border-radius:3px;
    font-size: 14px;
    font-family: '微软雅黑','HiraginoSansGB-W3','STHeitiSC-Light';

}
.o-dialog-container .o-background {
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background-color:#000;
    opacity:.4;
}

.o-dialog .o-close-btn{
    position:absolute;
    right:0;
    height:35px;
    line-height:35px;
    width:35px;
    text-align:center;
    cursor:pointer;
    color:#a7a7a7;
    font-size:20px;
}
.o-dialog .o-dialog-title{
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #dee2e1;
    margin: 10px 30px 0;
    font-size: 18px;
    padding-bottom: 5px;
}
.o-dialog .o-dialog-body{
    margin: 20px 30px 20px 30px;
    font-size:12px;
    overflow-y:auto;
    overflow-x:hidden;
    text-align: center;
}
.o-dialog .o-dialog-buttons{
    height:58px;
    text-align:center;
}
.o-dialog .o-dialog-btn:not(:last-child){
    margin-right:15px;
}
.o-dialog .out-content{
    font-size: 16px;
    color: #333333;
    line-height: 25px;
}
.o-dialog .sub-out-content{
    color:#ff9900;
    font-size: 12px;
    line-height: 20px;
}
.o-dialog .sub-out-content.left{
    text-align: left;
}
.o-dialog .sub-out-content.gray{
    color:#999999;
}
.o-dialog .btn-mr20{
    margin-right: 20px;
}
.o-dialog-container ::-webkit-scrollbar,.o-dialog-container ::-webkit-scrollbar-track,.o-dialog-container ::-webkit-scrollbar-track-piece{
    width:6px;
    padding-right: 2px;
    border-radius:3px;
    background:none;
}
.o-dialog-container ::-webkit-scrollbar-thumb{
    width:6px;
    padding-right: 2px;
    border-radius:3px;
    background:#bbb
}
@import "../../xlib/css/button.css";