@import "../../merchant/zhida/src/static/css/site/icon.css";
@import "../../merchant/zhida/src/static/css/site/popup.css";
.o-error-popup.popup {
	text-align: center;
	z-index: 999999
}
.o-error-popup.popup .popup-close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.o-error-popup.popup .popup-body{
	margin: 0;
}
.o-error-popup .popup-box {
	width: 244px;
	height: 97px;
	padding: 40px 0 20px 0;
	margin: -79px 0 0 -122px;
	left: 50%;
	top: 50%;

}
.o-error-popup .popup-body h4 {
	font-size: 16px;
	line-height: 16px;
	color: #333;
	margin-bottom: 10px;
}

.o-error-popup .popup-body b {
	display: block;
	color: #ff9900;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 20px
}