
#bi0 {
    -webkit-border-image:url(../img/a.png) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(../img/a.png) 30 30 round; /* Opera 11-12.1 */
    border-image:url(../img/a.png) 30 30 round;
}

#bi1 {
    -webkit-border-image:url("../img/a.png") 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url("../img/a.png") 30 30 round; /* Opera 11-12.1 */
    border-image:url("../img/a.png") 30 30 round;
}

#bi2 {
    -webkit-border-image: url(../img/a.png) 30 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/a.png) 30 30 stretch; /* Opera 11-12.1 */
    border-image: url(../img/a.png) 30 30 stretch;
}